[package]
name = "mm1-proto-well-known"

version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
description.workspace = true
exclude.workspace = true

[features]
default = []

[dependencies]
mm1-address.workspace = true
