[package]
name = "mm1-proto"

version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
description.workspace = true
exclude.workspace = true

[features]
default = ["test-util"]
test-util = []

[dependencies]
mm1-proc-macros.workspace = true

parking_lot.workspace = true
serde = {workspace = true, features = ["rc"]}

